# JavaScript dependencies
package-lock.json
node_modules/

# Python dependencies and cache
__pycache__/
poetry.lock
.venv/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.uv-cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.tox/
.nox/
.pytype/
test-results/
dist/
build/
.moon/cache/
/.proto/
nltk_data/

# Backend models and generated data
apps/server/**/fineTuning
apps/server/**/FinetunedModel
apps/server/**/generated_xml
apps/server/**/cornerCases
apps/server/**/uploaded_files
apps/server/**/brown_differing_nouns.*
apps/server/**/similarity_dataset.csv
apps/server/**/temp_schema.xsd
